<div id="profile" class="section-content">
  <h2 class="greeting-message">
    Hello {{ customer.first_name }}
    {{ customer.last_name }}. Not {{ customer.first_name }}
    {{ customer.last_name }}?
    <a href="{{ routes.account_logout_url }}" class="logout-link">Sign out</a>
  </h2>
  <h3 class="account-details-heading">Account Details</h3>
  <table class="customer-info-table">
    <tr>
      <th class="info-header">Name:</th>
      <td class="info-data">
        {{ customer.first_name }}
        {{ customer.last_name }}
      </td>
    </tr>
    <tr>
      <th class="info-header">Email:</th>
      <td class="info-data">{{ customer.email }}</td>
    </tr>
    <tr>
      <th class="info-header">Address:</th>
      <td class="info-data">
        {{ customer.default_address | format_address }}
      </td>
    </tr>
  </table>
</div>
