{{ 'animated-richtext.css' | asset_url | stylesheet_tag }}
<script src="{{ 'animated-richtext.js' | asset_url }}" defer></script>

<section class="animated-rich-text">
  <div class="animated-rich-text__inner">
    <!-- Small Heading -->
    <div class="animated-rich-text__heading">{{ section.settings.small_heading }}</div>

    <!-- Description -->
    <div class="animated-rich-text__description">
      {{ section.settings.description }}
      <div class="animated-rich-text__text">
        {% assign characters = section.settings.animated_text | split: '' %}
        {% for char in characters %}
          <span>{{ char }}</span>
        {% endfor %}
      </div>
    </div>

    <!-- Button -->
    <a href="{{ section.settings.button_link }}" class="animated-rich-text__button">
      <span class="animated-rich-text__button-label">{{ section.settings.button_label }}</span>
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Animated text section",
  "settings": [
    {
      "type": "text",
      "id": "small_heading",
      "label": "Small Heading",
      "default": "Your Heading Here"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Your description here."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Click Me!"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "animated_text",
      "label": "Animated Text",
      "default": "Language"
    }
  ],
  "presets": [
    {
      "name": "animated-rich-text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
